.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-align: center;
  position: relative;
}

.meme-picture {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  object-fit: fit;
}

.meme-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
  margin-bottom: 2.5rem;
}

h2 {
  max-width: 450px;
}